@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primarybg: 24 24 27; /* tailwind zinc 900 */
    --color-primaryfg: 212 212 216; /* tailwind zinc 300 */
    --color-primaryaccentbg: 254 202 202; /* tailwind red 200 */
    --color-primaryaccentfg: 24 24 27; /* tailwind zinc 900 */

    --color-secondarybg: 71 85 105;
    --color-secondaryfg: 15 23 42;
    --color-secondaryaccentbg: 24 24 27; /* tailwind zinc 900 */
    --color-secondaryaccentfg: 212 212 216; /* tailwind zinc 300 */
  }

	html {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  }

	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/Inter-Variable.ttf') format('truetype');
	}

	@font-face {
		font-family: 'VT323';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/VT323.ttf') format('truetype');
	}
}
